
smallcancellation/smallcancellation.py.old
freegroups/search_for_Heuer_counterexample.py
freegroups/search_for_nonunique_W_subgroup.py
hyperbolicgroup.py
onerelatorgroups/BuskinDolin.py
smallcancellation/generalizedsmallcancellation.py
smallcancellation/generalizedsmallcancellation.py
smallcancellation/generalizedsmallcancellation.py
smallcancellation/generalizedsmallcancellation.py
smallcancellation/.\#smallcancellation.py
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBAABBabbA
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBaaBabA.wa
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBaaBabA.tdiff
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBaaBabA.kbprog.ec
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBaaBabA.gm
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBaaBabA.geowa
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBaaBabA.geopairs
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBaaBabA.diff2
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBaaBabA.diff1
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBaaBabA.axioms.ec
smallcancellation/kbmag_tmp_directory/MyGroup-BAab|BBaaBabA
smallcancellation/kbmag_tmp_directory/MyGroup-abBA|BBBBaaBBabbA.wa
smallcancellation/kbmag_tmp_directory/MyGroup-abBA|BBBBaaBBabbA.tdiff
smallcancellation/kbmag_tmp_directory/MyGroup-abBA|BBBBaaBBabbA.kbprog.ec
smallcancellation/kbmag_tmp_directory/MyGroup-abBA|BBBBaaBBabbA.gm
smallcancellation/kbmag_tmp_directory/MyGroup-abBA|BBBBaaBBabbA.geowa
smallcancellation/kbmag_tmp_directory/MyGroup-abBA|BBBBaaBBabbA.geopairs
smallcancellation/kbmag_tmp_directory/MyGroup-abBA|BBBBaaBBabbA.diff2
smallcancellation/kbmag_tmp_directory/MyGroup-abBA|BBBBaaBBabbA.diff1
smallcancellation/kbmag_tmp_directory/MyGroup-abBA|BBBBaaBBabbA.axioms.ec
smallcancellation/kbmag_tmp_directory/MyGroup-abBA|BBBBaaBBabbA
smallcancellation/mytestgroupfilename
smallcancellation/mytestgroupfilename.axioms.ec
smallcancellation/mytestgroupfilename.diff1
smallcancellation/mytestgroupfilename.diff2
smallcancellation/mytestgroupfilename.geopairs
smallcancellation/mytestgroupfilename.geowa
smallcancellation/mytestgroupfilename.gm
smallcancellation/mytestgroupfilename.kbprog.ec
smallcancellation/mytestgroupfilename.success
smallcancellation/mytestgroupfilename.tdiff
smallcancellation/mytestgroupfilename.wa
